@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap');

*{
  background-color: #0A0F10;
}

/* Navbar stuff */

.nav .links a{
  font-family: "Roboto Mono";
  font-size: 18px;
  font-weight: 500;
  background-color: #11181b;
  color: #FFF;
  text-decoration: none;
  padding-left: 30px;
}

.nav h1{
  color: #FFF;
  background-color: #11181b;
  font-family: "Roboto Mono";
  font-size: 28px;
  font-weight: 500;
  margin-right: auto;
}

.nav .button a{
  font-family: "Roboto Mono";
  font-size: 18px;
  font-weight: 500;
  background-color: #92a6a4;
  color: #FFF;
  text-decoration: none;
  transition: 0.5s;
}

.nav .button{
  border-radius: 15px;
  background-color: #92a6a4;
  padding: 10px 15px;
  margin-left: 30px;
  transition: 0.5s;
}

.nav .button:hover{
  background-color: rgb(166, 186, 184);
}

.nav .button:hover a{
  background-color: rgb(166, 186, 184);
}



.nav{
  border-radius: 20px;
  background-color: #11181b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5%;
  margin: 0px 60px;
  margin-top: 40px;
}

/* Cards */

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 60px;
  margin-right: 40px;
}

.blog-card{
  border-radius: 20px;
  flex: 20%;
  color: #FFF;
  padding: 6%;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #11181b;
  transition: 0.5s;
}

.blog-card p{
  font-family: "Roboto Mono";
  font-size: 14px;
  font-weight: 500;
  background-color: #11181b;
  transition: 0.5s;
}

.blog-card h2{
  font-family: "Roboto Mono";
  font-size: 18px;
  font-weight: 500;
  background-color: #11181b;
  transition: 0.5s;
}

.blog-card h1{
  font-family: "Roboto Mono";
  font-size: 28px;
  font-weight: 500;
  background-color: #11181b;
  transition: 0.5s;
}

/* Card on hover */

.blog-card:hover{
  background-color: rgb(27, 34, 37);
}

.blog-card:hover p{
  background-color: rgb(27, 34, 37);
}

.blog-card:hover h2{
  background-color: rgb(27, 34, 37);
}

.blog-card:hover h1{
  background-color: rgb(27, 34, 37);
}

/* About Page */

.about{
  margin-left: 60px;
  padding-left: 5%;
  padding-top: 10px;
  color: #FFF;
  font-family: "Roboto Mono";
  font-weight: 500;
}

.about h1{
  background-color: #0A0F10;
  font-size: 28px;
}

.about p{
  font-size: 18px;
  background-color: #0A0F10;
}

.about p a{
  text-decoration: underline;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  background-color: #0A0F10;
  transition: .5s;
}

.about p a:hover{
  color: #92a6a4;
}

/* New Blog Page */

.new-blog{
  margin-left: 60px;
  padding-left: 5%;
  padding-top: 10px;
  color: #FFF;
  font-family: "Roboto Mono";
  font-weight: 500;
}

.new-blog input{
  background-color: #11181b;
  color: #FFF;
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 14px;
  padding: ;
}